#APPDATA
NEXT_PUBLIC_APP_NAME=
#Hosting
HOST_NAME=
URL_HTTPS=
#VariabledeconexionaMongoDB
MONGO_URL=
#FirmaparaJsonWebToken
JWT_SECRET_SEED=
#FirmaparaJsonWebTokenpormediodeNextAuth
NEXTAUTH_SECRET=
# NEXTAUTH_URL=
#ClientIDprovidersNextAuth
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
##MercadoPago
NEXT_PUBLIC_MPAGO_KEY=
NEXT_MP_ACCESS_TOKEN=
#Variablepublicaparaporcentajedeimpuestos
NEXT_PUBLIC_TAX_RATE=0.12
#VariableparalimitedeReordendestock
NEXT_PUBLIC_LOWSTOCK=10
#Comision De Venta
NEXT_PUBLIC_COMISSION_VALUE = 50000
NEXT_PUBLIC_COMMISSION_LV1 = 0.5
NEXT_PUBLIC_COMMISSION_LV2 = 1
NEXT_PUBLIC_COMMISSION_LV3 = 1.5
# Variable para valor minimo de venta
NEXT_PUBLIC_MINVALUESELL = 20000
#Cloudinary
CLOUDINARY_URL=
#UserMailsSend
MAIL_USER=
MAIL_PASS=
