#APPDATA
NEXT_PUBLIC_APP_NAME=
#Hosting
HOST_NAME=
URL_HTTPS=
#VariabledeconexionaMongoDB
MONGO_URL=
#FirmaparaJsonWebToken
JWT_SECRET_SEED=
#FirmaparaJsonWebTokenpormediodeNextAuth
NEXTAUTH_SECRET=
# NEXTAUTH_URL=
#ClientIDprovidersNextAuth
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
##MercadoPago
NEXT_PUBLIC_MPAGO_KEY=
NEXT_MP_ACCESS_TOKEN=
#Variablepublicaparaporcentajedeimpuestos
NEXT_PUBLIC_TAX_RATE=0.12
#VariableparalimitedeReordendestock
NEXT_PUBLIC_LOWSTOCK=10
#ComisionDeVenta
NEXT_PUBLIC_COMMISSION=0.5
#Cloudinary
CLOUDINARY_URL=
